<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{YYYY-MM-dd HH:mm:ss} %t --- %-5p %C{1}(%L) %msg%n}" />
        </Console>

        <RollingFile name="File" filename="log/log4j2.log" filepattern="log/log4j2-%d{YYYYMMddHHmmss}-archive.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %t --- %-5p %C{1}(%L) %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </Appenders>
    <Loggers>
	    <Logger name="safetynet" level="debug" additivity="false">
	      <AppenderRef ref="Console"/>
	      <AppenderRef ref="File"/>
	    </Logger>
	    <Root level="error">
	      <AppenderRef ref="Console"/>
	    </Root>
    </Loggers>

</Configuration>